
.PrimaryHeader ._nav
    display: flex
    justify-content: flex-end
    margin-top: 8px
    margin-right: 10px

.PrimaryHeader ._navbar-brand
    height: auto
    font-size: 2em
    display: flex
    align-items: center

.PrimaryHeader ._navbar-brand > img
    display: inline

//.PrimaryHeader__link
//    color: cornflowerblue
//    &:active
//        color: cornflowerblue
//    &:visited,
//    &:hover
//        color: #0056b3

