@import '../../../node_modules/bootstrap/dist/css/bootstrap'


.LoginPage
    width: 290px
    margin: 0 auto



.hidden
    visibility: hidden

.form-group
    & input
        @extend .form-control

.form-check
    & input
        @extend .form-check-input
    & label
        @extend .form-check-label
